<%- include('./partials/header') %>

 <div class="debut">  
<h2 class="principal">Envie d'évasion ?</h2>
<h2 class="paradis">Welcome to the paradise!</h2>
 <button class="decouvrir">time is now</button>
 </div>

 <section class="main">
     <h2 Class="offres">Nos Offres</h2>

 <div class="cards">
    <% for(const product of products) { %>
<div class="carte<%=product.id%>">
<div class="card">
    <h4 class="titre"><%=product.name%></h4>
    <img src="./images/<%=product.picture_name%>.jpg" alt="<%=product.name%>" >
    <div class="card-header">
        <h4 class="title">à partir de </h4>
        <h4 class="price"> <%= product.price %>€<%= product.quantity%></h4>
        </div>
    <div class="card-body">
        <p><%= product.description %></p>
    </div>
    <a href="/product/<%= product.id %>"><h2>voir de plus près</h2></a>
    <div class="prix1"></div><a href="/basket/add/<%= product.id %>"><button class="panier1">Ajouter au panier</button></a>
    
        
    </div>
  
    </div>  
    <% } %>
</div>
    </div>


                      

                            
                               </section>
                                                                                 
                               
                         
 <script src="/js/acceuil.js"></script> 
</body>
</html>