<%- include('./partials/header') %>


<div class="product">
<div class="cards">
    <div class="carte<%=product.id%>">
    <div class="card">
        <h4 class="titre"><%=product.name%></h4>
        <img src="/images/<%=product.picture_name%>.jpg" alt="<%=product.name%>" >
        <div class="card-header">
            <h4 class="title">à partir de </h4>
            <h4 class="price"> <%= product.price %>€<%= product.quantity%></h4>
            </div>
        <div class="card-body">
            <p><%= product.description %></p>
        </div>
        <div class="prix1"><button class="panier1">Ajouter au panier</button> 
            </div>
        </div>
      
        </div>  
        </div>
    </div>
     
</div>
                            
</section>
                                                  


<script src="/js/acceuil.js"></script> 
</body>
</html>