
<%- include('partials/header') %>
<div class="error">
    <div class="error_link">
<h1>Profil de <%= locals.user.fullname %></h1>
<ul>
    <li>Firstname : <%= locals.user.firstname %></li>
    <li>Lastname : <%= locals.user.lastname %></li>
    <li>Email : <%= locals.user.email %></li>
</ul>
    </div>
    </div>

<%- include('partials/footer') %>